/* :root {} */

html {
    font-size: 100%;
    font-family: 'Baskervville', serif;
    scroll-behavior: smooth;
}

/*making nice readable */
body {
    background-color: #FFFAFA;
    font-size: 1.2rem;
    line-height: 1.3;
    color: rgb(87, 85, 85);
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

#silver {
    color: RGB(116, 119, 124);
}

.centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    padding-bottom: 1.5rem
}

p {
    max-width: 650px;
    margin-bottom: 1em;
}

#first-p {
    max-width: 770px;
    margin-bottom: 1em;
}



/* adding whitespace to the left and right of the main element  */
main {
    padding: 1rem 2rem 2rem;
}

.intro {
    padding-top: 2rem;
}

.landmarks {
    padding-top: 2rem;
}

/* footer {
    padding: 0 2rem 0.4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

} */

ul {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    margin: 0 auto;
    padding: 0.2rem;
    overflow: hidden;
    background-color: #FFFAFA;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
}

li {
    float: left;
}

li a {
    display: block;

    color: rgb(39, 38, 38);
    padding: 8px 10px;
    text-decoration: none;
    color: rgb(167, 114, 114);
}




li a:hover:not(.active) {
    background-color: #111;
}

a:active {
    background-color: #c4c7ce;
}

a {
    display: block;
    text-align: center;
    color: rgb(167, 114, 114);
    text-decoration-line: underline;
    padding: 10px;

}

/*section:nth child(2n) -it would do every second section*/