/* :root {} */

html {
    font-size: 100%;
    font-family: 'Baskervville', serif;
    scroll-behavior: smooth;

}

/*making nice readable */
body {
    background-color: #FFFAFA;
    font-size: 1.2rem;
    line-height: 1.2;
    color: rgb(87, 85, 85);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

#silver {
    color: RGB(116, 119, 124);
}

h1,
h2 {
    padding-bottom: 1.5rem
}

/* adding whitespace to the left and right of the main element  */
main {
    padding: 3rem 2rem 2rem;
}
/* same padding for header excluding navigation and hero image */
header>section {
    padding: 1rem 2rem 2rem;
}

.landmarks {
    padding-top: 2rem;
}

footer {
    padding: 0 2rem 0.4rem;
    padding-bottom: 4rem;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    background-color: #FFFAFA;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    height: 50px;
    font-size: 18px;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
    transition: bottom 0.5s;

    border-top: black 1px solid;

}

ul:hover {
    font-size: 18px;

}

li {
    float: left;
}

li a {
    display: block;
    justify-content: center;
    color: rgb(39, 38, 38);
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    color: rgb(167, 114, 114);
}




li a:hover:not(.active) {
    background-color: #111;
}

a:active {
    background-color: #c4c7ce;
}

a {
    display: block;
    justify-content: center;
    text-align: center;
    color: rgb(167, 114, 114);
    text-decoration-line: underline;
    padding: 10px;

}

/*section:nth child(2n) -it would do every second section*/

/**************************************************
Code from Simon
**************************************************/



@media (min-width: 768px) { 
/**********************
        General
**********************/
html {
    line-height: 1.3;
}
img { /*Even the height of images with text*/
    margin-top: 1em;
}
h3 {
    padding-top: 1em;
}
/**********************
        HEADER
**********************/
header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    text-align: center;
}

/*Hides actual image and replace it with background img*/
header>picture>img {
   display: none;
}
picture {
    height: 70vh; /*Magic number but makes the page look like I want it*/
    background-image: url("img/hero2.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
/**********************
        MAIN
**********************/
main {
    padding: 0 5vw 0;
    /* padding-top: 3rem; */
}

/*hide top-button*/
.top-button {
    display: none;
}

main article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main article:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: space-between;
}

h2, h3 {
    width: 100%;
}
article>section {
    flex-basis: 40vw;
}

}

/*
- menu verstecken wenn ganz oben?
*/